/* LYR RED : #f05356 */

body {
	background-color: #0f0f0f;
}

body p, h3 {
	color: #d9d9d9;
	text-align: left;
	margin: 5px 25px 10px 25px;
}

hr {
	width: 90%;
	border-color: #262626;
}

h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	margin-bottom: 0px;
}

h1 {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: lighter;
	color: #ffffff;
	letter-spacing: 1px;
	margin-top: 0px;
	padding-bottom: 8px;
}

a {
	color: #f05356;
}

a:link {
	text-decoration:none;
}

a:visited {
	text-decoration:none;
}

p > a:hover,
p > a:active,
h3 > a:hover,
h3 > a:active,
li > a:hover,
li > a:active {
	color: #a63a3c;
	text-decoration:underline;
}

#footer {
	margin-bottom: 15px;
}

#goodbye {
	line-height: 25px;
}

#goodbye p {
	color: #666;
}

#about {
	line-height: 25px;
}

#contact,
#digitalseries {
	margin-left: 20px;
}

.tagline {
	text-transform: uppercase;
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

#banner {
	margin-top: 15px;
	width: 100%;
}

#menu {
	margin: 10px 5px 10px 5px;
}

#cross {
	width: 25px;
	height: auto;
	margin-top: 10px;
}

.img-thumbnail:hover {
	border-color: #f05356;
}

.image-row {
	margin-top: 15px;
	margin-bottom: 15px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	background-color: #f05356;
	color: #ffffff;
}

.nav-pills > li > a:focus {
	color: #f05356;
}

.nav-tabs > li,
.nav-pills > li {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
}

.dropdown-menu > li,
.dropdown-menu li > a {
	font-size: 16px;
	text-align: left;
	font-weight: lighter;
	background-color: #ffffff;
	color: #f05356;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background-color: #f05356;
	color: #ffffff;
	background-image: none;
}

#footer a, a:hover {
	color: #666666;
}

#contact p {
	margin-bottom: 0px;
}

#digitalseries li {
	text-align: left;
	margin-bottom: 10px;
	color: #d9d9d9;
}
